---
layout: post
title: Remake. Remodel. Part 2
categories:
- CMS
- General
permalink: /blog/2013/04/30/remake-remodel-part-2/
status: publish
type: post
published: true
meta:
  _edit_last: '1'
excerpt_small: "@grigs said I should blog, so I'm going to take this thing seriously now. I spent the last few days (finally) creating a new look for my website. With the advent of flat designs I think I'm able to create at least one style that doesn't fail completely. And actually I'm pretty happy with it."
---
<p><a href="http://blog.cloudfour.com">@grigs</a> said I should blog, so I'm going to take this thing seriously now. I spent the last few days (finally) creating a new look for my website. With the advent of flat designs I think I'm able to create at least one style that doesn't fail completely. And actually I'm pretty happy with it. </p>

<p>I just had one big constraint in developing the new templates: Use as much of the standard Twentytwelve Wordpress markup as possible. Which means: Just change the CSS. It worked out ... okay, for the most part.</p>

<!--more-->

<p>Things like my need to put the search bar somewhere else or to feature the social channels a little more took some time in the backend, but other than that a lot was created by just scrapping the original CSS and replacing it with my own.</p>

<p>Nonetheless, having not developed CMS solutions for about one and a half year, I was pretty overwhelmed by all those options and template parts available now in Wordpress and almost got lost in all the different includes and template tags available.</p>

<p>Well, whatever, I think it's good for now, though I wished templating for a blog platform would be easier. That's why I've an eye on <a href="http://www.kickstarter.com/projects/johnonolan/ghost-just-a-blogging-platform">Ghost</a>, which I discovered today after a tweet by Scott Jehl. WordPress is a full fledged CMS by now, and maybe we need something a little more focussed again.</p>

<p>Check out their video and try some parts on their <a href="http://tryghost.org/features.html">website</a>. Very promising!</p>
