---
layout: post
title: beyond our own noses - the "beyond tellerrand 2013"
categories:
- Conferences
permalink: /blog/2013/06/06/beyond-our-own-noses-the-beyond-tellerrand-2013/
status: publish
type: post
published: true
meta:
  _edit_last: '1'
excerpt_small: "Not one single line of JavaScript code? At a conference where web developers visibly outnumbered the rest of the audience? Yes, they can: D&uuml;sseldorf's <em>beyond tellerrand</em> conference saw its third edition this year, and what initially started as a somewhat obscure insider gathering is now a definite \"Be there or be square\" for designers and coders. How come?  Well, \"beyond tellerrand\" translates as \"beyond our own noses\", and that is exactly what the event is about: Widening the horizon of web developers. Planting fresh ideas into bright brains. Seeding energizing motivation into otherwise boring \"business as usual\". Throwing a spotlight on fields which are closely linked to our own work, yet rarely part of our considerations. In other words, the principles of the Netural environment get blown up to a full-size conference here."
---
<p>Not one single line of JavaScript code? At a conference where web developers visibly outnumbered the rest of the audience? Yes, they can: D&uuml;sseldorf's <a href="http://2013.beyondtellerrand.com">"beyond tellerrand"</a> conference saw its third edition this year, and what initially started as a somewhat obscure insider gathering is now a definite "Be there or be square" for designers and coders. How come?  Well, "beyond tellerrand" translates as "beyond our own noses", and that is exactly what the event is about: Widening the horizon of web developers. Planting fresh ideas into bright brains. Seeding energizing motivation into otherwise boring "business as usual". Throwing a spotlight on fields which are closely linked to our own work, yet rarely part of our considerations. In other words, the principles of the Netural environment get blown up to a full-size conference here.</p>

<!--more-->

<p class="img-holder"><a href="https://fettblog.eu/wp-content/uploads/2013/06/beyond1.jpg"><img src="https://fettblog.eu/wp-content/uploads/2013/06/beyond1-300x200.jpg" alt="beyond1" width="300" height="200" class="alignnone size-medium wp-image-209" /></a></p>

<p><a href="http://adactio.com">Jeremy Keith</a>'s opening keynote set the pace and defined the discourse level. He discussed the web's sustainability and longevity, stating that "the web never forgets" is not necessarily set in stone - at least not as solidly as some would like to believe. He challenged the audience to name web addresses which are still relevant after 15 years of existence.  Indeed, there are not many, if any. Keith then presented the archivars of the web (the <a href="http://archive.org/web/web.php">Wayback Machine</a>) and introduced a number of other relevant projects in this field.</p>

<p>Regarding design, the loudest slogan at the conference was "Photoshop Lies!". In the face of the multiple aspects of mobile design, Adobe's long-familiar tool runs the danger of being reduced to a sidekick role in design processes, still indispensable for final touch ups,  but replaced by early prototyping in HTML and CSS  for the new flexible layouts. This view was stated by <a href="https://twitter.com/owltastic">Megan Fisher </a>and shared by Twitter's <a href="http://jbrewer.me">Josh Brewer</a>, who took a radical, if time-honored approach to getting the message across: Grabbing his six-string and singing his "Photoshop, you damn liar!" protest song, he gave a whole new meaning to the word "keynote". </p>

<p class="img-holder"><a href="https://fettblog.eu/wp-content/uploads/2013/06/beyond3josh.jpg"><img src="https://fettblog.eu/wp-content/uploads/2013/06/beyond3josh-300x200.jpg" alt="beyond3josh" width="300" height="200" class="alignnone size-medium wp-image-211" /></a></p>

<p>Oh, yes - CSS: Of course there were also stylesheet gurus, presenting new principles and methods to update processes on the developers' side. The CSS Wizard himself, <a href="http://csswizardry.com">Harry Roberts</a>, gave vivid examples for making directives scaleable and recyclable, and <a href="http://bradfrostweb.com">Brad Fros</a>t with his Pattern Lab proclaimed the birth of the "Atomic Design" movement: not just a buzzword (although that would have been helfpful enough in itself), rather a well-considered new structuring of websites.</p>

<p>My personal highlight at the "beyond tellerrand" shone a good distance away from development, design and typo themes: <a href="http://www.forbes.com/fdc/welcome_mjx.shtml">Kate Kiefer-Lee </a>discussed the voice in which a website talks to the user. As the content mastermind of newsletter providers <a href="http://mailchimp.com">Mailchimp</a>, she discussed the thin red line between humor and impertinence and the art of getting the message across according to varying circumstances. A visible result of her work is <a href="http://voiceandtone.com">Voice and Tone</a>, a Website which does not only observe user moods, but also works on them.</p>


<p class="img-holder"><a href="https://fettblog.eu/wp-content/uploads/2013/06/beyond2kate.jpg"><img src="https://fettblog.eu/wp-content/uploads/2013/06/beyond2kate-300x200.jpg" alt="beyond2kate" width="300" height="200" class="alignnone size-medium wp-image-210" /></a></p>

<p>Living up to its name, beyond tellerrand presents not only elite exponents of the web, there are surprise cameos as well: Enter <a href="http://www.jamesvictore.com">James Victore</a>, whose polemical "500 years America" posters produced disputes in the 90ies and are now on exhibition in the MOM. Working not just beyond the rim of our plates, but at least a cupboard away, he still brought a message that gave the audience pause: Do a job you yourself can enjoy, because your work is a gift!</p>

<p class="img-holder"><a href="https://fettblog.eu/wp-content/uploads/2013/06/beyond4james.jpg"><img src="https://fettblog.eu/wp-content/uploads/2013/06/beyond4james-300x200.jpg" alt="beyond4james" width="300" height="200" class="alignnone size-medium wp-image-212" /></a></p>

<p>So this was my first "beyond tellerrand", and it was definitely not my last one. The phantastic lineup of choice international speakers and the flawless organisation created a unique environment. Somehow the conference resembled a class reunion of a web developer scene which enjoyed a time out from JavaScript. Kudos to organiserr Marc Thiele: Marc, you have created something absolutely beautiful!</p>

<p>Fotos by <em><a href="https://twitter.com/stn1978" target="_blank">Stefan Nitzsche</a></em></p>
