.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem; }

.media > div:first-child {
  margin: 0 0 1.5rem; }

.media__item > * {
  max-width: 100%; }

.media--horizontal .media__content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.media .media {
  padding: 0; }

@media (min-width: 460px) {
  .media--horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .media--horizontal > div:first-child {
    margin: 0 1.5rem 0 0; }
  .media__item--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }
