.expandable--separated {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: border-color 100ms ease-out; }

.expandable__content {
  display: none; }

.expandable__trigger {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  text-decoration: none;
  color: #00a1b2;
  line-height: 2; }

.expandable__trigger--right {
  padding-left: 0;
  padding-right: 32px; }

.expandable__trigger:before {
  content: " ";
  position: absolute;
  background-image: url(//assets.dynatrace.com/groundhog/v3.2.0/assets/images/icons/dropdown_open.svg);
  background-size: 1em;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(0);
          transform: translate(0, -50%) rotate(0);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.expandable__trigger--right:before {
  left: auto;
  right: 0; }

.expandable__trigger:hover {
  text-decoration: none;
  color: #00848e; }

.expandable.is-active .expandable__trigger:before {
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg); }

.expandable.is-active .expandable__content {
  display: block; }

.expandable--separated.is-active {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #00a1b2; }

.expandable--separated.is-active + .expandable--separated.is-active {
  border-top-color: transparent; }

/* Expandable for nav components */
.expandable--nav .expandable__trigger,
.expandable--subnav .expandable__trigger {
  color: #e6e6e6; }

.expandable--nav .expandable__trigger:before,
.expandable--subnav .expandable__trigger:before {
  background-image: url(//assets.dynatrace.com/groundhog/v3.2.0/assets/images/icons/dropdown_open-white.svg);
  -webkit-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg); }

.expandable--nav .expandable__trigger:hover,
.expandable--subnav .expandable__trigger:hover {
  color: #fff; }

.expandable--nav.is-active .expandable__trigger:before,
.expandable--subnav.is-active .expandable__trigger:before {
  -webkit-transform: translate(0, -50%) rotate(0);
          transform: translate(0, -50%) rotate(0); }

@media (min-width: 980px) {
  .expandable--subnav .expandable__trigger {
    display: none; }
  .expandable--subnav .expandable__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .expandable--nav .expandable__trigger:before {
    content: none; }
  .expandable--nav.is-active .expandable__content {
    display: none; }
  .expandable--nav.is-current .expandable__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.subnav {
  overflow: hidden;
  z-index: 8; }

.subnav__bar {
  display: block;
  width: 100%;
  background-color: #00848e; }

.subnav__list {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .subnav__list li:before {
    position: absolute;
    content: none;
    margin: 0;
    padding: 0;
    display: none;
    width: auto;
    height: auto;
    float: none; }

.subnav__item {
  margin: 0;
  white-space: nowrap; }

.subnav__item.is-current {
  background-color: #00a1b2; }

.subnav__link,
.subnav__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  padding: 0.5rem 1.5rem; }

.subnav__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00b9cc; }

.subnav__link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ccc; }

.expandable--nav .subnav__link {
  padding-left: 32px;
  /* same as expandable trigger padding */ }

@media (min-width: 980px) {
  .subnav {
    height: 2rem; }
  .subnav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .subnav__item.is-current {
    background-color: transparent; }
  .subnav__item.is-current .subnav__link {
    border-bottom: 4px solid #74dee6; }
  .subnav .subnav__link {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem; }
  .subnav__link:hover {
    background-color: transparent;
    border-bottom: 2px solid #74dee6; } }

.theme--blue .subnav__bar {
  background-color: #006bba; }

.theme--blue .subnav__item.is-current {
  background-color: #008cdb; }

.theme--blue .subnav__link:hover {
  background-color: #14a8f5; }

@media (min-width: 980px) {
  .theme--blue .subnav__item.is-current {
    background-color: transparent; }
  .theme--blue .subnav__item.is-current .subnav__link {
    border-bottom: 4px solid #74cff7; }
  .theme--blue .subnav__link:hover {
    background-color: transparent;
    border-bottom: 2px solid #74cff7; } }

.theme--purple .subnav__bar {
  background-color: #612c85; }

.theme--purple .subnav__item.is-current {
  background-color: #7c38a1; }

.theme--purple .subnav__link:hover {
  background-color: #9355b7; }

@media (min-width: 980px) {
  .theme--purple .subnav__item.is-current {
    background-color: transparent; }
  .theme--purple .subnav__item.is-current .subnav__link {
    border-bottom: 4px solid #c396e0; }
  .theme--purple .subnav__link:hover {
    background-color: transparent;
    border-bottom: 2px solid #c396e0; } }

.theme--royalblue .subnav__bar {
  background-color: #393db0; }

.theme--royalblue .subnav__item.is-current {
  background-color: #4556d7; }

.theme--royalblue .subnav__link:hover {
  background-color: #526cff; }

@media (min-width: 980px) {
  .theme--royalblue .subnav__item.is-current {
    background-color: transparent; }
  .theme--royalblue .subnav__item.is-current .subnav__link {
    border-bottom: 4px solid #97a9ff; }
  .theme--royalblue .subnav__link:hover {
    background-color: transparent;
    border-bottom: 2px solid #97a9ff; } }

.theme--green .subnav__bar {
  background-color: #3f962a; }

.theme--green .subnav__item.is-current {
  background-color: #5ead35; }

.theme--green .subnav__link:hover {
  background-color: #7dc540; }

@media (min-width: 980px) {
  .theme--green .subnav__item.is-current {
    background-color: transparent; }
  .theme--green .subnav__item.is-current .subnav__link {
    border-bottom: 4px solid #bee5a3; }
  .theme--green .subnav__link:hover {
    background-color: transparent;
    border-bottom: 2px solid #bee5a3; } }
