<div class="footer-area">
  <div class="main-frame">
    <section class="copyright">fettblog.eu © <!-- -->2012 - {{ ':-)' | year }}</section>
    <section class="footer-nav">
      <nav class="footer-nav-item">
        <strong class="footer-head">fettblog.eu</strong>
        <a href="/" class="footer-link">Home</a>
        <a class="footer-link" href="/about/">About</a>
        <a class="footer-link" href="/legal-notice/">Legal notice</a>
        <a class="footer-link" href="/faq/">FAQ</a>
        <a class="footer-link" href="/feed.xml">RSS Feed</a>
      </nav>
      <nav class="footer-nav-item">
        <strong class="footer-head">Connect</strong>
        <a class="footer-link" href="/speaking/">Speaking</a>
        <a href="/newsletter/" class="footer-link">Newsletter</a>
        <a href="https://twitter.com/ddprrt" class="footer-link" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a href="https://github.com/ddprrt" class="footer-link" target="_blank" rel="noopener noreferrer">Github</a>
      </nav>
      <nav class="footer-nav-item">
        <strong class="footer-head">Side projects</strong>
        <a href="https://scriptconf.org" class="footer-link" target="_blank" rel="noopener noreferrer">ScriptConf</a>
        <a href="https://tsconf.eu" class="footer-link" target="_blank" rel="noopener noreferrer">TSConf:EU</a>
        <a href="https://devone.at" class="footer-link" target="_blank" rel="noopener noreferrer">DevOne</a>
        <a href="https://workingdraft.de" class="footer-link" target="_blank" rel="noopener noreferrer">Working Draft Podcast</a>
        </nav>
    </section>
  </div>
</div>
