<script>
const nav = document.querySelector('.nav')

const movieSidebar = document.querySelector('.movie-list')
const activeCinema = document.querySelector('a[href*=cinema].active')

const cineTop = sessionStorage.getItem('cinemaPos')

document.querySelector('#open').addEventListener('click', function(e) {
  e.preventDefault()
  nav.classList.add('active')
})

document.querySelector('#close').addEventListener('click', function(e) {
  e.preventDefault()
  nav.classList.remove('active')
})


window.addEventListener('beforeunload', () => {
  if(activeCinema && movieSidebar) {
    sessionStorage.setItem('cinemaPos', movieSidebar.scrollTop)
  } else {
    sessionStorage.setItem('cinemaPos', 0)
  }
})

if(cineTop && movieSidebar) {
  movieSidebar.scrollTop = parseInt(cineTop, 10)
}  
</script>
<script async>

const version = {{site.version}};

function register() {
  navigator.serviceWorker.register(`/pwabuilder-sw.js?v={{site.version}}`, {
    scope: '/'
  }).then(function(reg) {
    console.log('Service worker has been registered for scope:', reg.scope);
  });
}

function unregister() {
  navigator.serviceWorker.getRegistrations().then(function(registrations) {
    let available = false;
    for(let registration of registrations) {
      if (registration.active && registration.active.scriptURL.endsWith("v=" + version)) {
        available = true
      } else {
        registration.unregister()
      }
    }

    if (!available) {
      register();
    }
  })
}

if('serviceWorker' in navigator) {
  unregister()
}
</script>

<script src="/assets/scripts/main.js?v={{site.version}}" async></script>
