---
layout: default
title: front-end technology talk
---

<section class="wrapper">
	<h1 class="visually-hidden">List of articles</h1>
	{% for post in paginator.posts %}
		<article class="post">
			<div class="post__date">{{ post.date | date_to_long_string }}</div>
			<h2 class="post__title">{% unless post.external %}<a href="{{ post.url }}">{% else %} <a href="{{ post.external }}">{% endunless %}{{ post.title }}</a></h2>
		</article>
	{% endfor %}
</section>

<nav class="navigation-wrapper">
	<ul class="navigation paging">
		{% if paginator.previous_page %}<li class="paging__prev"><a href="{{ paginator.previous_page_path }}">Previous</a></li>{% endif %}
		{% if paginator.next_page %}<li class="paging__next"><a href="{{ paginator.next_page_path }}">Next</a></li>{% endif %}
	</ul>
</nav>