---
layout: default
title: Stefan Baumgartner's front-end technology talk
---

<section class="wrapper">
	{% for post in paginator.posts %}
		<article class="post">
			<span>{{ post.date | date_to_string }}</span>
			<h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		</article>
	{% endfor %}
</section>

<nav class="navigation-wrapper">
	<ul class="navigation paging">
		{% if paginator.previous_page %}<li class="paging__prev"><a href="{{ paginator.previous_page_path }}">Previous</a></li>{% endif %}
		{% if paginator.next_page %}<li class="paging__next"><a href="{{ paginator.next_page_path }}">Next</a></li>{% endif %}
	</ul>
</nav>