<nav class="nav">
  <a class="logo" href="/">fettblog.eu</a>
  <ul class="navbar">
    <li class="navbar-item"><a class="navbar-link{% if menuActive == 'articles' %} active{% endif %}" href="/articles">Articles</a></li>
    <li class="navbar-item"><a class="navbar-link{% if menuActive == 'guides' %} active{% endif %}" href="/guides">Guides</a></li>
    <li class="navbar-item"><a class="navbar-link" href="/">Books</a></li>
    <li class="navbar-item"><a class="navbar-link" href="/">Cinema</a></li>
    <li class="navbar-item"><a class="navbar-link" href="/">About</a></li>
  </ul>
  <button class="navbar-button" id="open">Menu</button>
  <button class="navbar-button" id="close">Close</button>
</nav>
