<nav>
  <a class="logo" href="/">fettblog.eu</a>
  <ul class="navbar">
    <li class="navbar-item"><a class="navbar-link" href="/articles">Articles</a></li>
    <li class="navbar-item"><a class="navbar-link active" href="/">Guides</a></li>
    <li class="navbar-item"><a class="navbar-link" href="/">Books</a></li>
    <li class="navbar-item"><a class="navbar-link" href="/">Cinema</a></li>
    <li class="navbar-item"><a class="navbar-link" href="/">About</a></li>
  </ul>
</nav>
