<div class="preamble">
  <span class="breadcrumbs">
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
  </span>
  <h1>{{ title }}</h1>
  <div class="meta" data-modified="{{ page.date.toUTCString() }}">
    <div class="meta-item">
      <div class="meta-image-wrapper">
        <img class="author-image" src="https://pbs.twimg.com/profile_images/572642811029426177/GxgFcPtm_400x400.jpeg">
      </div>
    </div>
    <p class="meta-item post-date">Published on <span class="meta-highlight">{{ page.date | prettyDate }}</span></p>
    <p class="meta-item">
      Written by  <span class="meta-highlight"><a class="" href="https://twitter.com//ddprrt">@ddprrt</a></span>
    </p>
    <p class="meta-item post-date">Reading time: <span class="meta-highlight">{{ content | readingTime }} minutes</span></p>
    {% if categories %}
    <p class="meta-item">
      More on  <span class="meta-highlight">
        {% for category in categories %}
        <a href="/categories/{{ category | toLowerCase }}">{{ category }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </span>
    </p>
    {% endif %}
  </div>
</div>
