<div class="callout">
  <div class="newsletter-widget">
    <h2>Stay up to date!</h2>
    <p class="e-content">
      3-4 updates per month, <strong>no tracking</strong>, spam-free, hand-crafted. Our newsletter gives you links, updates on fettblog.eu, conference talks, coding soundtracks, and much more.
    </p>
    {% include "widgets/newsletter.njk" %}
  </div>
</div>
