<div class="element-cover element-end">
  <a href="/typescript-react/" class="element-cover-link">
    <img src="/wp-content/uploads/2020/typescript-react.svg" loading="lazy" alt="Logo for TypeScript + React" class="element-cover-image no-shadow">
  </a>
</div>
<div class="element-content">
  <div class="element-top">
    <span class="element-highlight meta-highlight">Guide</span>
    <h2>TypeScript + React</h2>
  </div>
  <div class="action-bar">
    <a href="/typescript-react/" class="read-more custom-emoji">
      <span aria-hidden="true">⚛︎</span>
      Check it out
    </a>
  </div>
</div>
