<div class="element-cover element-end">
  <a href="/typescript-react/" target="_blank" class="element-cover-link">
    <img src="/wp-content/uploads/2020/typescript-react.svg" loading="lazy" alt="Cover art" class="element-cover-image no-shadow">
  </a>
</div>
<div class="element-content">
  <span class="element-highlight meta-highlight">Guide</span>
  <h2>TypeScript + React</h2>
  <div class="action-bar">
    <a href="{{soundtrack.data.spotify}}" class="read-more custom-emoji">
      <span aria-hidden="true">⚛︎</span>
      Check it out
    </a>
  </div>
</div>
