<div class="element-cover element-end">
  <a href="/typescript-react/" target="_blank" rel="nofollow noopener" class="element-cover-link">
    <img src="/wp-content/uploads/2020/typescript-react.svg" loading="lazy" alt="Cover art" class="element-cover-image no-shadow">
  </a>
</div>
<div class="element-content">
  <span class="element-highlight meta-highlight">Guide</span>
  <h2>TypeScript + React</h2>
  <div class="e-content">
  <p>
          The most popular JavaScript type-checker and one of the most popular
          JavaScript libraries go really well together. This guides gives you a thorough
          overview on all available typings and how to solve most common React design patterns with TypeScript,
          including hooks, render props, prop types, styling, and more.
        </p>
    <div class="box blue">
    <span aria-hidden="true">⚛︎</span>
      <a href="{{soundtrack.data.spotify}}" rel="nofollow noopener">
      
        Check it out
      </a>
    </div>
  </div>
</div>
