{% if categories and ("Gulp" in categories or "Tools" in categories or "Tooling" in categories or "Grunt" in categories) %}
<section class="sidebar-element">
  <a 
    class="sidebar-book-cover-link"
    target="_blank"
    rel="noopener nofollow"
    href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a">
    <img
      loading="lazy"
      src="/wp-content/uploads/front-end-tooling-tiny.jpg"
      alt="Cover of Front-End Tooling"
      class="book-cover sidebar-book-cover">
  </a>
  <p class="sidebar-book-content">
    Interested in Gulp and Front-End Tooling? 
    Check out  <a 
    target="_blank"
    rel="noopener nofollow"
    href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a">
      my book on Gulp, Yeoman and Bower</a>
    and get 39% off with the code <strong>39baumgar</strong>
  </p>
</section>
{% endif %}


{% if categories and ("TypeScript" in categories) %}
<section class="sidebar-element">
  <a 
    class="sidebar-book-cover-link"
    target="_blank"
    rel="noopener"
    href="https://typescript-book.com">
    <img
      loading="lazy"
      src="/wp-content/uploads/2020/typescript-in-50-lessons-tiny.jpg"
      alt="Cover of Front-End Tooling"
      class="book-cover sidebar-book-cover">
  </a>
  <p class="sidebar-book-content">
    I've written a book on TypeScript!
    Check out  <a 
    target="_blank"
    rel="noopener"
    href="https://typescript-book.com">
      TypeScript in 50 Lessons</a>, published by Smashing Magazine
  </p>
</section>
{% endif %}
