<div class="happy-stefan">
  <div class="no-one knows what-its-like to-be-the sad-man">
    <p>There should be an ad, and maybe you block it. I get that, I don't like ads either.</p>
    <p>But they help keep the site running! Instead, maybe, you could think <a href="https://paypal.me/ddprrt">of a small tip?</a></p>
  </div>
  <script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CE7DT2JM&placement=fettblogeu" id="_carbonads_js"></script>
</div>
