<form
  action="https://buttondown.email/api/emails/embed-subscribe/oida"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/oida', 'popupwindow')"
  class="ection mail-subscribe-form"
  novalidate=""
>
  <label class="sr-only" for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" class="required email" placeholder="Enter your e-Mail" />
  <input type="hidden" value="1" name="embed" />
  <button type="submit" class="button"><span aria-hidden="true" class="effect">✏️</span> Subscribe</button>
</form>
