<form id="stay-up-to-date" class="section mail-subscribe-form" action="https://fettblog.us18.list-manage.com/subscribe/post?u=b82088f16842254dd4d1fd440&amp;id=76976cae26" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
  <label class="sr-only" for="mce-EMAIL">Email Address</label>
  <input placeholder="Enter your e-mail" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_f5bed0058ba0f92552c55c755_cc56f4a027" tabindex="-1" value="">
  </div>
  <input class="button" type="submit" value="✏️ Subscribe" name="subscribe" id="mc-embedded-subscribe">
</form>
