<div class="widget connect">
  {% if next %}
  <div class="box blue">
    <p>
      👉 Next: <a href="{{next.url}}">{{next.title}}</a>
    </p>
  </div>
  {% endif %}
  <div class="box blue">
    <p>
      🐦 <a href="https://twitter.com/ddprrt">Got a comment? Need help? Shoot a tweet!</a>
    </p>
  </div>
  <div class="box red">
    <p>
      ☕️ <a href="https://paypal.me/ddprrt">
      Was this helpful? Leaving a small tip helps me a lot!</a>
    </p>
  </div>
</div>
