{% if not noSidebar %}
{% if not showMore and categories %}
{% set showMore = categories[0] %}
{% endif %}

{% set coll = showMore %}
{% set showName = coll + ": "%}
{% if collections.categories and collections.categories[coll] %}
<section class="main-frame article-teasers">
  <h2 class="sr-only">More articles on <a href="/archive/{{showMore | slug}}">{{showMore}}</a></h2>
  <article class="teaser-row">
  {% set myindex = 0 %}
  {% for post in collections.categories[coll] | reverse %}
  {% if page.url !== post.url and myindex < 3 %}
  {% set myindex = myindex + 1 %}
  <div class="teaser teaser-more">
    <div class="teaser-content">
      <span class="breadcrumbs">
        <p class="meta-item post-date"><span class="teaser-highlight">{{ post.date | prettyDate }}</span></p>
      </span>  
      <h4 class="teaser-heading h2">
        <a href="{{post.url}}">{{post.data.title | replace(showName, "") }}</a>
      </h4>
      <div class="meta">
        <p class="meta-item post-date">Reading time: <span class="meta-highlight">{{ post.templateContent | readingTime }} minutes</span></p>
      </div>
    </div>
    <div class="action-bar">
      <a class="read-more" href="{{article.url}}">Read more</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  </article>
</section>
{% endif %}
{% endif %}
