.happy-stefan {
  grid-area: happy;
  position: relative;
}

.sad-man {
  width: 310px;
  height: 125px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: 0.8rem;
  position: absolute;
  font-style: italic;
  left: 50%;
  transform: translateX(-50%);
}
