.element {
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.element-cover {
  padding: 1.5rem;
  box-shadow: inset 0 0 10px hsla(hue($color-three), 90, 90, 0.3);
  text-align: center;
}

.element-start {
  background: linear-gradient(30deg, var(--color-two), var(--color-three));
}

.element-middle {
  background: linear-gradient(30deg, var(--color-three), var(--color-four));
}

.element-end {
  background: linear-gradient(30deg, var(--color-four), var(--color-five));
}

.element-cover-image {
  height: 170px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  filter: grayscale(1);
  mix-blend-mode: screen;
}

.fit {
  width: 100%;
  object-fit: cover;
  height: calc(170px + 4rem);
}

.no-padding {
  padding: 0 !important;
}

.no-shadow {
  box-shadow: none;
}

.element-content {
  padding: 1.5rem;
}

.element-cover-link {
  display: block;
}

.element-cover-link:hover .element-cover-image{
  filter: grayscale(0);
  mix-blend-mode: normal;
}

.element-cover-link:hover .element-cover-image.no-shadow {
  filter: grayscale(1);
  mix-blend-mode: multiply;
}


.element h2 {
  margin-top: 0;
}

.element-highlight {
  line-height: 2;
  color: #454545;
  display: block;
  font-weight: 600;
}


@media(min-width: 1090px) {
  
  .element-cover {
    padding: 2rem;
  }

  .element-content {
    padding: 2rem;
  }
}


.cover {
  width: 120px;
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
