.img-holder img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.img-holder img.no-frame {
  box-shadow: none;
}

.img-holder {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.img-holder figcaption {
  font-style: italic;
}
