.teaser-row {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.article-teasers {
  padding: 2rem;
}

.teaser-more.teaser-more {
  padding: 0;
}


.teaser-more.teaser-more .teaser-heading {
  --color-gradient: linear-gradient(90deg,
      var(--color-four),
      var(--color-five));
}


@media(min-width: 1400px) {

  .article-teasers{
    padding: 0
  }
}
