.wrapper {
  width: 100%;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: linear-gradient(180deg, #fef9f9, #fff);
  background-size: 100vw 30vw;
  background-repeat: no-repeat;
}

.wrapper ul, .wrapper ol {
  padding-left: 1em;
}

.wrapper li {
  margin-bottom: 0.5rem;
}

.wrapper ol li {
  padding-left: 0.5em;
}

.meta a,
.wrapper a {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}
