.icon {
  width: 32px;
  height: 32px; }

.icon--small {
  width: 18px;
  height: 18px; }

.icon--big {
  width: 64px;
  height: 64px; }

.icon--white {
  fill: #fff; }

.icon--grey {
  fill: #454646; }

.icon--black {
  fill: #000; }

.icon--green {
  fill: #7dc540; }

.icon--red {
  fill: #dc172a; }

.icon--yellow {
  fill: #fd0; }

.icon--blue {
  fill: #1496ff; }
