$serifFont: droid-serif, serif;
$sansFont: lato, sans-serif;
$monoFont: source-code-pro, sans-serif;

$spacing: 1.5rem;

$bgColor: #fff;
$linkColor: #904bdb;

$titleColor: #f0f0f0;
$areaColor: #333;
$areaFontColor: #fff;

$minWidth: 31.25rem;