---
layout: default.njk
includeMeta: true
---
<article class="wrapper h-entry">
  <div class="bg">
    {% include "navigation/preamble.njk" %}
  </div>
  <div class="grid main-frame article">
    {% include "widgets/happy-stefan.njk" %}
    <div class="e-content">
      {{ content | safe }}
      {% include "widgets/posting-end.njk" %}
    </div>
    {% include "widgets/sidebar.njk" %}
  </div>
</article>

{% include "widgets/teaser-row.njk" %}

{% include "widgets/full-newsletter-widget.njk" %}

