.social {
	font-family: 'icomoon';
}

.navigation-wrapper {
	width: 100%;
	background-color: $areaColor;
}

.navigation {
	font-family: $sansFont;
	font-size: 0.85rem;

	list-style-type: none;
	
	display: table;
	table-layout: fixed;

	width: 100%;
	max-width: $wrapperWidth;
	margin: 0 auto;


	> li {

		@media(min-width: $minWidth) {
			display: table-cell;
		}

		vertical-align: middle;
		text-align: center;
		position: relative;

		a, a:active {
			color: $areaFontColor;
			display: block;
			padding: $spacing / 2;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

.navigation__button {
	color: $areaFontColor;
	background-color: $areaColor;
	border-radius: 5px;
	font-size: 1.25rem;
	line-height: 1em;
	position: absolute;
	right: $spacing / 2;
	margin-top: -1 * $spacing - ($spacing / 4) * 3;
	padding: $spacing / 4;
	z-index: 2;
	overflow: hidden;
}

.navigation__main {
	visibility: hidden;
	position: absolute;
}

#show-menu:checked ~ .navigation__main {
	position: relative;
	visibility: visible;
}

@media(min-width: $minWidth) {
	.navigation__main {
		visibility: visible;
		position: relative;
	}

	.navigation__button {
		display: none;
	}
}


%paging__symbol {
	position: absolute;
	font-size: 1.5rem;
	color: $areaFontColor;
	top: 50%;
	margin-top: -($spacing/2);
}

.paging__prev {
	padding-left: $spacing;
	&:before {
		@extend %icon-arrow-left;
		@extend %paging__symbol;
		left: 0;
	}
	text-align: left;
}

.paging__next {
	padding-right: $spacing;
	&:after {
		@extend %icon-arrow-right;
		@extend %paging__symbol;
		right: 0;
	}
	text-align: right;
}
