.hint {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  box-sizing: border-box;
  white-space: normal;
  padding-top: 6px;
  font-size: 12px;
  color: #898989;
  font-weight: 400; }

.label {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  display: block;
  padding-bottom: 6px; }

.label--progressbar {
  float: right;
  margin-bottom: -10px;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  line-height: 1rem;
  color: #191919; }

.textarea {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-top: 0;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 14px;
  line-height: 32px;
  line-height: -moz-block-height;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  color: #454646;
  resize: none;
  width: 100%; }

.textarea::-webkit-input-placeholder {
  color: #898989; }

.textarea:-ms-input-placeholder {
  color: #898989; }

.textarea::placeholder {
  color: #898989; }

.textarea:hover {
  border-color: #a0a0a0;
  cursor: text; }

.textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ccc; }

.textarea[disabled] {
  background-color: #f2f2f2;
  color: #ccc; }

.textarea[disabled]:hover {
  border-color: #ccc;
  cursor: default; }
