.breadcrumbs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #00848e;
  line-height: 1em;
  overflow: hidden;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 4; }

.breadcrumbs__item {
  display: inline-block;
  margin-top: 0;
  font-size: 16px;
  max-height: 30px;
  line-height: 30px;
  position: relative; }

.breadcrumbs__item:first-child .breadcrumbs__link,
.breadcrumbs__item:first-child .breadcrumbs__last {
  padding-left: 1.7rem; }

.breadcrumbs__link,
.breadcrumbs__link:visited {
  color: #fff;
  display: block;
  background-color: #00a1b2;
  padding: 0 16px;
  margin-right: 4px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  margin-left: -4px; }

.breadcrumbs__last {
  padding: 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  margin-left: -4px; }

.breadcrumbs__link:before,
.breadcrumbs__link:after {
  content: " ";
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-right: 0;
  position: absolute;
  right: -1px;
  margin-top: -3px;
  border-left-color: #00a1b2;
  border-left-width: 8px;
  z-index: 3; }

.breadcrumbs__link:before {
  right: -3px;
  border-left-color: #fff;
  z-index: 2; }

.breadcrumbs__link:focus,
.breadcrumbs__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00848e; }

.breadcrumbs__link:focus:after,
.breadcrumbs__link:hover:after {
  border-left-color: #00848e; }

.theme--blue .breadcrumbs {
  background-color: #004999; }

.theme--blue .breadcrumbs__link,
.theme--blue .breadcrumbs__link:visited {
  background-color: #006bba; }

.theme--blue .breadcrumbs__link:after {
  border-left-color: #006bba; }

.theme--blue .breadcrumbs__link:focus,
.theme--blue .breadcrumbs__link:hover {
  background-color: #004999; }

.theme--blue .breadcrumbs__link:focus:after,
.theme--blue .breadcrumbs__link:hover:after {
  border-left-color: #004999; }

.theme--purple .breadcrumbs {
  background-color: #522273; }

.theme--purple .breadcrumbs__link,
.theme--purple .breadcrumbs__link:visited {
  background-color: #612c85; }

.theme--purple .breadcrumbs__link:after {
  border-left-color: #612c85; }

.theme--purple .breadcrumbs__link:focus,
.theme--purple .breadcrumbs__link:hover {
  background-color: #522273; }

.theme--purple .breadcrumbs__link:focus:after,
.theme--purple .breadcrumbs__link:hover:after {
  border-left-color: #522273; }

.theme--royalblue .breadcrumbs {
  background-color: #393db0; }

.theme--royalblue .breadcrumbs__link,
.theme--royalblue .breadcrumbs__link:visited {
  background-color: #4556d7; }

.theme--royalblue .breadcrumbs__link:after {
  border-left-color: #4556d7; }

.theme--royalblue .breadcrumbs__link:focus,
.theme--royalblue .breadcrumbs__link:hover {
  background-color: #393db0; }

.theme--royalblue .breadcrumbs__link:focus:after,
.theme--royalblue .breadcrumbs__link:hover:after {
  border-left-color: #393db0; }

.theme--green .breadcrumbs {
  background-color: #3f962a; }

.theme--green .breadcrumbs__link,
.theme--green .breadcrumbs__link:visited {
  background-color: #5ead35; }

.theme--green .breadcrumbs__link:after {
  border-left-color: #5ead35; }

.theme--green .breadcrumbs__link:focus,
.theme--green .breadcrumbs__link:hover {
  background-color: #3f962a; }

.theme--green .breadcrumbs__link:focus:after,
.theme--green .breadcrumbs__link:hover:after {
  border-left-color: #3f962a; }
