---
title: You're subscribed to my newsletter!
layout: frame.njk
permalink: /newsletter/confirmed/
---
{% include "widgets/happy-stefan.njk" %}
<div class="e-content">
  <p>
    You're subscribed to fettblog.eu!
  </p>
  <p>
    The next edition will end up in your inbox.
  </p>
</div>


