---
title: Almost there!
layout: frame.njk
permalink: /newsletter/subscribed/
---
{% include "widgets/happy-stefan.njk" %}
<div class="e-content">
  <p>
    Thanks so much for subscribing!
  </p>
  <p>
    I sent you an email to confirm your address. Click it and you're in!
  </p>
</div>
