<header class="main-header">
  <h1 class="main-title">Stefan Baumgartner</h1>
  <p>Web ops, performance and front-end</p>
  <nav>
    <ul class="main-nav">
      <li><a href="/" class="nav-item">Home</a></li>
      <li><a href="/contact/" class="nav-item">About</a></li>
      <li><a href="/speaking/" class="nav-item">Speaking</a></li>
      <li><a href="/typescript-react/" class="nav-item">Typescript + React</a></li>
      <li><a href="https://scriptconf.org" class="nav-item">ScriptConf</a></li>
      <!--li><a href="/contact/#writing" class="nav-item">Writing</a></li-->
      <li><a href="/snippets/" class="nav-item">Snippets</a></li>
      <li><a href="https://twitter.com/ddprrt" class="nav-item">Twitter</a></li>
    </ul>
  </nav>
</header>
