.appearances {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: $spacing;
}

.appearance__detail {
	margin: 0;
	padding: 0;
	margin-top: $spacing;
}

.talks {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: $spacing;
}