---
title: 404
layout: default.njk
permalink: /404.html
---

<style>
.fante {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oje {
  display: flex;
  max-width: 800px;
  width: 100%;
  flex-wrap: wrap;
}

.fante-says {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.4rem;
  color: #454545;
  font-style: italic;
  line-height: 1.3;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 0;
}

.prrrt {
  width: 100%;
  max-width: 400px;
  margin-top: 10rem;
}
</style>

<div class="fante">
  <div class="oje">
    <img class="prrrt" src="/wp-content/uploads/elephant.svg" alt="How did this happen">
    <blockquote class="fante-says">
      <p>
        Let's talk about the elephant in the room... You have been expecting a site, but ended up here? I'm very sorry!
      </p>
      <p>
        I hope Fante (the elephant) can brighten your day. If not, please <a href="/contact/">let me know</a> if you think this is a problem that needs fixing.
      </p>
    </blockquote>
  </div>
</div>
