---
layout: list
title: All articles
menuActive: articles
permalink: /articles/
---

{% set years = [] %}
{% set firstTime = true %}
{%- for post in collections.posts | reverse -%}
{% if not hideFromList %}
{% include "navigation/post-list.njk" %}
{% endif %}
{% endfor %}
</ul>
