---
title: Books
permalink: /books/
layout: default.njk
menuActive: books
---
<article class="wrapper h-entry">
  <div class="bg">
    <div class="main-frame">
      <h1>Books</h1>
    </div>
  </div>
  <div class="grid main-frame">
    {% include "widgets/happy-stefan.njk" %}
    <article>
      <div class="e-content">
        <p>
          I write books! Not many, but I do! So far I published two books, with many more ideas on the shelf
        </p>
      </div>
      <h2>Published books</h2>
      <h3>TypeScript in 50 lessons</h3>
      <div class="book-article">
        <img loading="lazy" src="/wp-content/uploads/2020/typescript-in-50-lessons.png" class="book-cover book-page-cover" alt="Cover of TypeScript in 50 lessons">
        <div class="book-content e-content">
          <div class="meta meta-grow">
            <p class="meta-item">Publisher <span class="meta-highlight">
              <a href="https://typescript-book.com" target="_blank" rel="nofollow noopener">Smashing Magazine</a>
            </span></p>
            <p class="meta-item">Published <span class="meta-highlight">October 2020</span></p>
            <p class="meta-item">
              Languages
              <span class="meta-highlight">
                <a href="https://smashingmagazine.com/printed-books/typescript-in-50-lessons/" target="_blank" rel="nofollow noopener">English</a>
              </span>
            </p>
          </div>
          <p>
            I've teamed up with the fine folks from <a href="https://smashingmagazine.com" target="_blank" rel="nofollow noopener">Smashing Magazine</a> to produce a TypeScript book that brings newcomers from apprentice to master, and has a thorough deep-dive of the type system for experienced TypeScript developers.
          </p>
          <p>
            Programming books have a tendency to become outdated very quickly. The moment you hold the printed version in your hands, the world has moved on and parts are out of date, or important lessons are left out. When I set out to write this book, my most important goal was that it had to be <strong>timeless</strong>. TypeScript gets at least two major releases a year, so there are new features and changes on certain aspects of the programming language.
          </p>
          <p>
            That’s why we focus on the long-lasting aspects of the type system. The main way to program will be JavaScript; TypeScript will work as an additional type layer describing the behavior of our code. This is also aligned with the way the TypeScript team designs their upcoming work. After reading this book, you will immediately understand what new features are about.
          </p>
          <p>
            We also tried to do something new, something maybe unseen with programming books. As we feature lots of code examples, we wanted to create an editor like feel when looking at code examples. Red squigglies when it errors, and beautiful syntax highlighting to make everything wonderfully legible.
          </p>
          <p>
            This book is TypeScript for humans, so I want to give you the most human introduction to the programming language. The wonderful artwork by <a href="https://robdraper.co.uk" rel="noopener" target="_blank">Rob Draper</a> reflects this playful, gentle approach to teaching a highly technical topic.
          </p>
          <p class="box blue">
            👉 <a href="https://smashingmagazine.com/printed-books/typescript-in-50-lessons/">Get it at Smashing</a>
          </p>
        </div>
      </div>
      <h3>Front-End Tooling with Gulp, Bower, and Yeoman</h3>
      <div class="book-article">
        <img loading="lazy" src="https://images.manning.com/360/480/resize/book/1/391d85b-1037-4c0b-bb22-786c932fb568/Baumgartner-FET-HI.png" class="book-cover book-page-cover" alt="Cover of Front-End Tooling">
        <div class="book-content e-content">
          <div class="meta meta-grow">
            <p class="meta-item">Publisher <span class="meta-highlight">
              <a href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a" target="_blank" rel="nofollow noopener">Manning</a>
            </span></p>
            <p class="meta-item">Published <span class="meta-highlight">November 2016</span></p>
            <p class="meta-item">
              Languages
              <span class="meta-highlight">
                <a href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a" target="_blank" rel="nofollow noopener">English</a>,
                <a href="https://www.amazon.de/Web%E5%89%8D%E7%AB%AF%E8%87%AA%E5%8A%A8%E5%8C%96%E6%9E%84%E5%BB%BA%EF%BC%9AGulp%E3%80%81Bower%E5%92%8CYeoman%E5%BC%80%E5%8F%91%E6%8C%87%E5%8D%97-%E6%BE%B3-%E6%96%AF%E7%89%B9%E5%87%A1%C2%B7%E9%B2%8D%E5%A7%86%E5%8A%A0%E7%89%B9%E7%BA%B3%EF%BC%88Stefan-Baumgartner%EF%BC%89/dp/B075KZDJK4/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Web%E5%89%8D%E7%AB%AF%E8%87%AA%E5%8A%A8%E5%8C%96%E6%9E%84%E5%BB%BA%EF%BC%9AGulp%E3%80%81Bower%E5%92%8CYeoman%E5%BC%80%E5%8F%91%E6%8C%87%E5%8D%97&qid=1590435145&sr=8-1" target="_blank" rel="nofollow noopener">Chinese</a>
              </span>
            </p>
          </div>
          <p>
            Based upon my <a href="/archive/gulp/">articles</a> and <a href="https://www.youtube.com/watch?v=AcCtLUZZkvE">workshops</a> on Gulp, I was invited by Manning to write a book on Front-End Tooling. It was one of the best-selling Early Access books Manning has produced!
          </p>
          <p>
            Even though the tools might not be as interesting anymore as they were a couple of years ago, the techniques of streams, of a proper build pipeline, and of scaffolding still hold up. The basics you learn about package management are more than important for today's world of package management. So maybe give it a shot?
          </p>
          <p>
            But if you do, take the code <strong>39baumgar</strong> and get 39% off the original price!
          </p>
          <p class="box blue">
            👉 <a href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a">Get it at Manning</a>
          </p>
        </div>
      </div>
    </article>
  </div>
</article>
