---
layout: default.njk
title: Cinema
permalink: /cinema/
menuActive: cinema
---
<div class="cinema">
  <div class="movie">
    <div class="aspect ratio-16-to-9">
      <div class="note">
        <div class="note-content">
          <p>
            🎬
          </p>
          <p>
            As I organize conferences, I watch plenty of conference talks in person and online to seek out new
            talent and craft great programs. Each year I did a list with my most favourite talks, until I found out 
            that it's not only super hard for me to pick the top 5, but also I lose track of many great conference
            talks that I thoroughly enjoy.
          </p>
          <p>
            So everytime I find a talk that I really, really like, or that I find noteworthy, I list it here. Enjoy the show!
          </p>
        </div>
      </div>
    </diV>
  </div>
  <div class="movie-desc">
    <h1>The fettblog.eu Cinema</h1>
    <div class="e-content movie-e-content">
      <p>
        Select a movie from the navbar and have fun!
      </p>
    </div>
  </div>
  <div class="movie-nav">
    {% include "navigation/movies.njk" %}
  </div>
</div>
