---
layout: page
title: About
permalink: /about/
menuActive: about
---
<p>
  I'm Stefan Baumgartner, I'm a web developer/web lover based in Linz, Austria. 
  Currently I'm employed at <a href="https://dynatrace.com">Dynatrace</a>, making the web 
  a faster place. I <a href="#writing">write</a>, <a href="#speaking">speak</a> and organise
  <a href="#events">events</a> all around software development and web technologies.
  Nice to <a href="#contact">meet you</a>!
</p>

<figure class="img-holder wide">
  <img src="/wp-content/uploads/me-devone.jpg"
    alt="Me, at Devone 2018" />
    <figcaption>Me, at Devone 2018, holding an imaginary wall</figcaption>
</figure>

<h2 id="writing">Writing</h2>

<p>
  Other than my humble blog, I also contributed to a couple of magazines. Together with my friends
  from <a href="http://workingdraft.de">Working Draft</a> I contributed a regular column to 
  <a href="https://screengui.de">Screenguide</a>. I also had a couple of articles there.
</p>

<figure class="img-holder wide">
  <img src="/wp-content/uploads/me-devone-2017.jpg"
    alt="Me, at Devone 2017" />
    <figcaption>Writing before Devone 2017 is about to start</figcaption>
</figure>
<p>
  Notable contributions include:
</p>
<ul>
  <li>Smashing Magazine: 
    <a href="https://www.smashingmagazine.com/2016/08/using-a-static-site-generator-at-scale-lessons-learned/">
      Using a Static Site Generator at Scale: Lessons learned
    </a>
  </li>
  <li>A List Apart:
    <a href="https://alistapart.com/article/the-best-request-is-no-request-revisited">
      The Best Request Is No Request, Revisited
    </a>
  </li>
  <li><span lang="de">Entwickler</span>-Magazines (print):
    <a href="https://entwickler.de/online/grunt-vs-gulp-143800.html">Grunt and Gulp, a comparision (2014)</a>,
    <a href="https://entwickler.de/leseproben/kurzeinfuehrung-vue-js-579848455.html">Intro to Vue.js (2018)</a>
  </li>
  <li>
    Screenguide-Magazines (print):
    <a href="https://screengui.de/39/build-tools#comments">Build tools (2018)</a>,
    <a href="https://screengui.de/29/performance">Performance (2017)</a>
  </li>
</ul>
<p>
  In 2017, I published my first book: <a href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman">Front-End Tooling with Gulp, Bower and Yeoman</a> at Manning.
  I was super happy to be given such a chance, and I think the book 
  turned out pretty well. It was a long journey and I thought I'll never write one again. But I feel the 
  itch again.
</p>

<h2 id="speaking">Speaking</h2>

<p>
  From time to time I speak at events. Conferences, meetups, you name it. I try not to have a
  tight schedule and spend most time at home, but there are some events I really enjoy contributing to. 
  You can find a (mostly complete) list of my talks with resources at <a href="/speaking">this page</a>.
</p>


<figure class="img-holder wide">
  <img src="/wp-content/uploads/me-plauscherl.jpg"
    alt="Me, at Technologieplauscherl" />
    <figcaption>Giving a talk at Technologieplauscherl. I have only one shirt.</figcaption>
</figure>

<p>
  There are some talks and videos I want to point out:
</p>

<ul>
  <li>
    <a href="https://www.youtube.com/watch?v=oOhsprTp_ow">Mobile Browser Games, Great Expectations</a> - 
    The talk that got me into public speaking and one that I had the change to present a couple of times
    all over the world. Mobile browsers were a pain back then. I had a ton of fun with this talk!</li>
  <li><a href="https://www.youtube.com/watch?v=AcCtLUZZkvE">JavaScript build pipelines with Gulp</a> - 
    A live coding university session all about Gulp. I toured a bit to show Gulp around back then, 
    all leading to my front-end tooling book. This video is the pinnacle of this tour, resulting in a
    2.5 hour complete course. Gulp might not be so popular anymore, but there's some good stuff about
    Node.js streams in there.</li>
  <li><a href="https://www.youtube.com/watch?v=ssC8FAVg0Zg">Speed Index, explained</a> - 
    Speed Index is a wonderful metric, but sometimes hard to grasp. In this talk I show how
    Speed Index is calculated and point out the great and not so great things. I gave this talk
    just once... could think about a revival.</li>
  <li><a href="https://www.youtube.com/watch?v=98z0XjYWX0o">HTTP/2 is coming, unbundle all the things?</a> - 
    My first and only JSConf appearance where I had the chance to tell everyone how HTTP/2 works. And what it
    means for JS developers. Loved it. Also got a ton of good ratings. Thank you!</li>
</ul>

<p>
  I also did some talks in German(-ish)... one of my favourites
  is <a href="https://www.youtube.com/watch?v=S7Y1rZsmHN4">TypeScript oddities</a>. Would love to
  do that in English some time!
</p>

<h2 id="events">Events</h2>

<p>
  Last, but not least, the big passion: Organising events for the tech community. Especially in my home
  town Linz. Here are some highlights.
</p>

<figure class="img-holder wide">
  <img src="/wp-content/uploads/me-script.jpg"
    alt="Me, at Technologieplauscherl" />
    <figcaption>On stage at my very own conference. ScriptConf</figcaption>
</figure>  

<h3>Technologieplauscherl and Stahlstadt.js</h3>

<p>
  My home town Linz has a vibrant tech community. There are tons of meetups for every niche. Ranging from 
  .NET over Java (eJUG - the oldest meetup in Austria), up to infrastucture. I (co-)organise two of those meetups:
  <a href="http://technologieplauscherl.at">Technologieplauscherl</a> 
  and <a href="https://stahlstadt.js.org">Stahlstadt.js</a>.
</p>

<p>
  The first one -- Technologieplauscherl -- is a general tech meetup with tons of different topics 
  and mostly in German. We run it 10 times a year at variing locations. Topics range from new 
  programming languages to agile development. But we also had talks on DNA analysis and technical writing.
</p>

<p>
  Food and drinks is always sponsored by caring companies from the scene. We somehow managed to get an annual
  BBQ where we welcome up to 250 guests. Cheers!
</p>

<p>
  Stahlstadt.js on the other hand is a true JavaScript meetup, in English and with much more specific topics.
  My friend Sebastian and I took over after the original organisers left town, and run it 4-5 times a year.
</p>

<p>
  Stahlstadt.js' speciality are the long running discussions after and between talks. Some meetups lasted up
  until 2am (thanks to our hosts!), and we even had inflluence on the Ghost blogging platform in their 
  decision to switch from Backbone to Ember.
</p>

<p>
  I love both meetups dearly and enjoy organising them. Hats off to my wonderful co-organisers. Without them
  this wouldn't be possible.
</p>

<h3>Devone</h3>

<p>
  <a href="https://devone.at">Devone</a> is a developers and ops conference organised by a team within the
  company I work for: Dynatrace. We wanted to have a very specialised conference with great speakers and
  amazing food. And I think we did really well. The best thing is to have such creative minds around. People
  like Hartwig and Katrin do their best to get the tone and style just right. Best branded conference in the world?
  I'd say so! Check out the after show video:
</p>

<div class="aspect ratio-16-to-9">
    <iframe src="https://www.youtube.com/embed/_AzCjDdMVQE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<h3>ScriptConf</h3>

<p>
  Ah, ScriptConf! Sebastian and I decided after a couple of Stahlstadt.js meetups, that a JavaScript 
  conference in Linz would be really nice. There were some tech conferences which had some JS relation,
  but I think we wanted to go one step beyond. We wanted to celebrate our great community, and have great
  food, amazing speakers and a wonderful atmosphere!
</p>

<p>
  I guess Stahlstadt.js was one of the first, if not the first after work conference. Strategically placed
  between work on Friday and family on Saturday. Allowing everyone a smooth welcome at 1pm, and celebrating
  way into the night. And we did! Especially our speakers!
</p>

<p>
  We continued the formular from 2017 in 2018... and now we are making plans for the next edition. Stay tuned!
</p>

<h2 id="contact">Contact</h2>

<p>
  If you want to get in touch with me, just shoot an 
  <a href="mailto:stefan@scriptconf.org">E-Mail</a>, or just shoot 
  a <a href="http://twitter.com/ddprrt">tweet</a>. I'm happy to 
  answer to any issue as soon as I can!
</p>

<h2>Your data</h2>

<p>
  Hey, I don't collect nor store any data from you. I don't use any cookies, 
  trackers or anything else that might haunt you someplace else.
  The only cookie you find is from Cloudflare, they use it to make sure you can
   access pages even when you are in a malicious network. 
   See their <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-Cloudflare-cfduid-cookie-do-">cookie information</a> 
   for details.
</p>

<div class="box">
  <p>
    👉 <a href="/contact/">How to contact me</a>
  </p>
</div>
<div class="box">
  <p>
    🎤 <a href="/speaking/">Conferences and meetups I'm speaking at</a>
  </p>
</div>
