---
title: Guides
permalink: /guides/
layout: default.njk
---
<article class="wrapper h-entry">
  <div class="bg">
    <div class="main-frame">
      <h1>Guides</h1>
    </div>
  </div>
  <div class="grid main-frame">
    {% include "widgets/happy-stefan.njk" %}
    <div class="e-content">
      <p>
        Guides on this pages serve two purposes: Being a thorough notebook to learn new technologies, as well as a reference text if you want to look something up.
      </p>
      <p>
        No fluff. No questions. Just code and short, on-point explanations of what's happening.
      </p>
    </div>
  </div>
  <div class="main-frame guides">
    <div class="guide-entry">
      <div class="guide-image">
        <a href="/typescript-react/"><img src="/wp-content/uploads/2020/typescript-react.svg" alt="TypeScript + React logo"></a>
      </div>
      <div class="e-content card">
        <h2><a href="/typescript-react/">TypeScript + React</a></h2>
        <p>
          The most popular JavaScript type-checker and one of the most popular
          JavaScript libraries go really well together. This guides gives you a thorough
          overview on all available typings and how to solve most common React design patterns with TypeScript,
          including hooks, render props, prop types, styling, and more.
        </p>
        <p class="blue">
          👉 <a href="/typescript-react/">Check it out</a>
        </p>
      </div>
    </div>
  </div>
  
</article>
