---
layout: page
title: Legal notice
permalink: /legal-notice/
menuActive: about
---

<h2>Me</h2>

<p>Stefan Baumgartner, Leonding</h2>. Feel free to <a href="/contact">reach</a> out to me.


<h2>How I use your data</h2>

<p>
  Hey, I don't collect nor store any data from you. I don't use any cookies, 
  trackers or anything else that might haunt you someplace else.
  The only cookie you find is from Cloudflare, they use it to make sure you can
   access pages even when you are in a malicious network. 
   See their <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-Cloudflare-cfduid-cookie-do-">cookie information</a> 
   for details.
</p>

<p>
  Also, I embed YouTube videos on some pages. The moment you enter that papge, YouTube drops their cookies. To make it easier for
  you, I only embed YouTube videos in the <a href="/cinema/">cinema section</a> from now on.
</p>

<h2>Disclaimer</h2>

<p>With regard to the technical setup of the Internet we can not guarantee the authenticity, accuracy or completeness of any information provided. We assume no responsibility for the availability or the operation of fettblog.eu and its content.</p>

<p>Any liability for direct, indirect or other damages, regardless of its cause, arising from the use or non-availability of data and information provided on fettblog.eu, unless permitted by law.</p>

<p>The content of this website is protected by copyright. The information is intended only for personal use. Any other use including the database storage, duplication and any form of commercial use, and disclosure to third parties - is prohibited without permission of the organization - even in parts or in edited form.</p>

<div class="box blue">
  <p>
    👉 <a href="/contact/">How to contact me</a>
  </p>
</div>
