---
title: Newsletter
layout: frame.njk
permalink: /newsletter/
---
{% include "widgets/happy-stefan.njk" %}
<div class="e-content">
  <p>
    I curate a newsletter with ...
  </p>
  <ul>
    <li>Updates on this website: new articles, new snippets, new guides</li>
    <li>New entries in the cinema. Recommended conference talks and videos on tech</li>
    <li>A coding soundtrack of the week 🎵</li>
    <li>Links to articles, tools, and projects that are interesting</li>
    <li>Links to conferences I'm attending or organizing</li>
    <li>Opinions ...</li>
  </ul>
  <p>
    Topics include JavaScript, TypeScript, Serverless, Jamstack, Tooling, Node, Deno, and much more!
  </p>
  <p>
    Updates come 2-3 times per month.
  </p>
  <div class="newsletter">
      {% include "widgets/newsletter.njk" %}
  </div>
</div>
