.switch {
  clip: rect(0 0 0 0);
  position: absolute; }

.switch__caption {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  font-size: 14px; }

.switch__label {
  position: relative;
  padding-left: 44px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.switch__label:before {
  content: " ";
  display: inline-block;
  width: 36px;
  height: 20px;
  border: solid 1px #00a1b2;
  border-radius: 10px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  background-color: transparent;
  background-image: radial-gradient(circle 5px, transparent 0, transparent 2px, #454646 3px, transparent 4px);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 21px 4px;
  transition: background-color 100ms ease-in;
  top: -1px; }

.switch__label:after {
  content: " ";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #454646;
  transition: left 100ms ease-out, right 100ms ease-out;
  margin-top: 3px;
  margin-left: 4px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  left: 0; }

.switch__label:hover:before {
  border: solid 1px #00848e;
  background-color: #f8f8f8; }

.switch__label:active:before {
  border: solid 1px #006d75;
  background-color: #f8f8f8; }

.switch:checked:hover + .switch__label:hover:before {
  background-color: #00848e;
  border-color: #00848e; }

.switch:checked:active + .switch__label:active:before {
  background-color: #006d75;
  border-color: #006d75; }

.switch__label:focus {
  outline: none; }

.to-right + .switch__label {
  padding-left: 0;
  padding-right: 44px; }

.to-right + .switch__label:before {
  left: auto;
  right: 0; }

.to-right + .switch__label:after {
  left: auto;
  right: 20px; }

.switch:checked + .switch__label:before {
  background-color: #00a1b2;
  border-color: #00a1b2;
  background-image: linear-gradient(to right, #fff 1px, transparent 0);
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: 9px 5px; }

.switch:checked + .switch__label:after {
  left: 16px; }

.switch.to-right:checked + .switch__label:after {
  left: auto;
  right: 4px; }

.switch[disabled] + .switch__label:before {
  border-color: #ccc;
  background-image: radial-gradient(circle 5px, transparent 0, transparent 2px, #ccc 3px, transparent 4px); }

.switch[disabled]:checked + .switch__label:before {
  border-color: #ccc;
  background-image: linear-gradient(to right, #ccc 1px, transparent 0); }

.switch[disabled] + .switch__label:after {
  background-color: #ccc;
  border: 1px solid #ccc; }

.switch[disabled]:checked + .switch__label:before {
  background-color: transparent;
  outline: none; }

.switch[disabled] + .switch__label {
  color: #ccc;
  cursor: default; }

.switch[disabled]:checked:hover + .switch__label:hover:before {
  background-color: transparent;
  border-color: #ccc;
  box-shadow: none; }

.switch[disabled]:not(checked):hover + .switch__label:hover:before {
  background-color: transparent;
  border-color: #ccc;
  box-shadow: none; }

.switch:focus:not(:active) + .switch__label:before {
  outline: none;
  box-shadow: 0 0 0 2px #ccc; }
