.loading {
  text-align: center;
  display: inline-block;
  height: 50px;
  background-color: rgba(25, 25, 25, 0.65);
  border-radius: 3px;
  padding: 10px 28px 10px 28px;
  overflow: hidden; }

.loading__distractor {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  stroke-width: 4px;
  stroke: #b4dc00;
  fill: none;
  -webkit-animation: spin 3.4s linear infinite;
          animation: spin 3.4s linear infinite; }

.loading__distractor--small {
  stroke: #898989; }

.loading__path {
  stroke-dasharray: 69.1152px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
          animation: dash 1.7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite; }

.loading__text {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  color: #b4dc00;
  margin-bottom: 16px;
  margin-left: 8px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  line-height: -moz-block-height;
  vertical-align: middle; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 138.2304px; }
  50% {
    stroke-dashoffset: 86.394px; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 138.2304px; }
  50% {
    stroke-dashoffset: 86.394px; }
  100% {
    stroke-dashoffset: 0; } }
