.section {
  display: block;
  margin-top: 1.5rem; }

@media (min-width: 768px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .section .column--1-of-2 {
      max-width: calc(50% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(50% - 24px);
              flex: 1 0 calc(50% - 24px); }
    .section .column--2-of-2 {
      max-width: calc(100% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 24px);
              flex: 1 0 calc(100% - 24px); }
    .section .column--1-of-3 {
      max-width: calc(33.33333% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(33.33333% - 24px);
              flex: 1 0 calc(33.33333% - 24px); }
    .section .column--2-of-3 {
      max-width: calc(66.66667% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(66.66667% - 24px);
              flex: 1 0 calc(66.66667% - 24px); }
    .section .column--3-of-3 {
      max-width: calc(100% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 24px);
              flex: 1 0 calc(100% - 24px); }
    .section .column--1-of-4 {
      max-width: calc(25% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(25% - 24px);
              flex: 1 0 calc(25% - 24px); }
    .section .column--2-of-4 {
      max-width: calc(50% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(50% - 24px);
              flex: 1 0 calc(50% - 24px); }
    .section .column--3-of-4 {
      max-width: calc(75% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(75% - 24px);
              flex: 1 0 calc(75% - 24px); }
    .section .column--4-of-4 {
      max-width: calc(100% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 24px);
              flex: 1 0 calc(100% - 24px); }
    .section .column--1-of-5 {
      max-width: calc(20% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(20% - 24px);
              flex: 1 0 calc(20% - 24px); }
    .section .column--2-of-5 {
      max-width: calc(40% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(40% - 24px);
              flex: 1 0 calc(40% - 24px); }
    .section .column--3-of-5 {
      max-width: calc(60% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(60% - 24px);
              flex: 1 0 calc(60% - 24px); }
    .section .column--4-of-5 {
      max-width: calc(80% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(80% - 24px);
              flex: 1 0 calc(80% - 24px); }
    .section .column--5-of-5 {
      max-width: calc(100% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 24px);
              flex: 1 0 calc(100% - 24px); }
    .section .column--1-of-6 {
      max-width: calc(16.66667% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(16.66667% - 24px);
              flex: 1 0 calc(16.66667% - 24px); }
    .section .column--2-of-6 {
      max-width: calc(33.33333% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(33.33333% - 24px);
              flex: 1 0 calc(33.33333% - 24px); }
    .section .column--3-of-6 {
      max-width: calc(50% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(50% - 24px);
              flex: 1 0 calc(50% - 24px); }
    .section .column--4-of-6 {
      max-width: calc(66.66667% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(66.66667% - 24px);
              flex: 1 0 calc(66.66667% - 24px); }
    .section .column--5-of-6 {
      max-width: calc(83.33333% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(83.33333% - 24px);
              flex: 1 0 calc(83.33333% - 24px); }
    .section .column--6-of-6 {
      max-width: calc(100% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 24px);
              flex: 1 0 calc(100% - 24px); }
    .section .column--1-of-7 {
      max-width: calc(14.28571% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(14.28571% - 24px);
              flex: 1 0 calc(14.28571% - 24px); }
    .section .column--2-of-7 {
      max-width: calc(28.57143% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(28.57143% - 24px);
              flex: 1 0 calc(28.57143% - 24px); }
    .section .column--3-of-7 {
      max-width: calc(42.85714% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(42.85714% - 24px);
              flex: 1 0 calc(42.85714% - 24px); }
    .section .column--4-of-7 {
      max-width: calc(57.14286% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(57.14286% - 24px);
              flex: 1 0 calc(57.14286% - 24px); }
    .section .column--5-of-7 {
      max-width: calc(71.42857% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(71.42857% - 24px);
              flex: 1 0 calc(71.42857% - 24px); }
    .section .column--6-of-7 {
      max-width: calc(85.71429% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(85.71429% - 24px);
              flex: 1 0 calc(85.71429% - 24px); }
    .section .column--7-of-7 {
      max-width: calc(100% - 24px);
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% - 24px);
              flex: 1 0 calc(100% - 24px); } }
