.foot {
  font-size: 0.7rem;
  color: white;
  background-color: #454546;
  padding: 0.1rem 1rem;
}

.foot a, .foot a:visited {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.foot a:hover {
  color: #eee;
}

@media (min-width: $content-breakpoint) {

  .foot {
    padding: 0.1rem 3rem;
  }
}

@media (min-width: $nav-breakpoint) {

  .foot {
    margin-right: 3rem;
  }
}
