.main-header {
  max-width: 53em;
  text-align: center;
  text-transform: lowercase;
}

@media(min-width: $nav-breakpoint) {

  .main-header {
    position: fixed;
    left: 53rem;
    height: 100vh;
    padding: 4rem;
    font-weight: 300;
    width: auto;
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    top: 0;
  }
}
