.note {
  background-color: lighten(#f1c40f, 20);
  padding: 1rem;
  margin: 1rem -1rem 0;
}

@media (min-width: $content-breakpoint) {

  .note {
    width: calc(100% + 10rem);
    margin: 1rem -5rem 0;
    padding: 1rem 5rem;
  }
}

@media (min-width: $nav-breakpoint) {

  .note {
    margin-top: 0;
  }
}
