.appearances {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.appearance__date {
  font-size: 0.8rem;
  color: grey;
  display: block;
}

.appearance__detail {
  padding: 1rem 0;
}

.appearance__detail + .appearance__detail {
  border-top: 1px solid lightgray;
}

.talks {
  list-style-type: none;
  padding: 0;
}

.talk__entry:before {
  content: 'Talk: ';
  color: grey;
}

.talk--workshop:before {
  content: 'Workshop: ';
}

.talk__coverage + .talk__coverage:before {
  content: '| ';
  color: $text;

  &:hover, &:active, &:visited {
    color: $text;
  }
}

.talk__entry {
  padding-left: 0;
}
