---
layout: wrapper
---

<aside class="note">
 Interested in Gulp and Front-End Tooling? Check out my <a href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a">book</a>
 on Gulp, Yeoman and Bower and get 39% off with the code <strong>39baumgar</strong>
</aside>

<h1>{{ page.title }}</h1>
<p data-modified="{%if page.modified %}{{ page.modified }}{% else %}{{ page.date }}{% endif %}" class="post__date">{{ page.date | date_to_long_string }} by <a href="http://twitter.com//ddprrt">@ddprrt</a> | Posted in: <span>{{ page.categories | join: ', '}}</span></p>

<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DT2JM&placement=fettblogeu" id="_carbonads_js"></script>

<div class="e-content">
	{{ content }}
</div>

<p class="note">
 Me again. The <a href="https://www.manning.com/books/front-end-tooling-with-gulp-bower-and-yeoman/?a_aid=fettblog&a_bid=238ac06a">Gulp, Yeoman, Bower book</a>
 is pretty sweet. Just saying.
</p>
