---
layout: default
---

<article class="wrapper">
		
	<h1>{{ page.title }}</h1>
	<p data-modified="{%if page.modified %}{{ page.modified }}{% else %}{{ page.date }}{% endif %}" class="post__date">{{ page.date | date_to_long_string }} by <a href="http://twitter.com//ddprrt">@ddprrt</a></p>

	{{ content }}


	{% unless page.nocomments %}
	<h2>Comments</h2>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'fettblog'; // required: replace example with your forum shortname

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	{% endunless %}

</article>
<nav class="navigation-wrapper">
	<ul class="navigation paging">
		{% if page.previous %}<li class="paging__prev"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>{% endif %}
		{% if page.next %}<li class="paging__next"><a href="{{ page.next.url }}">{{ page.next.title }}</a></li>{% endif %}
	</ul>
</nav>