---
layout: wrapper
---

<aside class="note">
  Hey! Interested in TypeScript? There's a TypeScript conference happening in Austria: Check out <a href="https://tsconf.eu">TSConf.eu</a>
</aside>

<h1>{{ page.title }}</h1>
<p data-modified="{%if page.modified %}{{ page.modified }}{% else %}{{ page.date }}{% endif %}" class="post__date">{{ page.date | date_to_long_string }} by <a href="http://twitter.com//ddprrt">@ddprrt</a> | Posted in: <span>{{ page.categories | join: ', '}}</span></p>

<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DT2JM&placement=fettblogeu" id="_carbonads_js"></script>

<div class="e-content">
	{{ content }}
</div>
