---
layout: default
---

<article class="wrapper h-entry">

	{{ content }}

	{% unless page.nocomments %}
	<p>
		<em>Comments? Shoot me a <a href="http://twitter.com/ddprrt">tweet</a>!</em>
	</p>
	{% endunless %}

</article>
<nav class="navigation-wrapper">
	<ul class="navigation paging">
		{% if page.previous %}
		<li class="paging-item prev">
			<a class="paging-link link-prev" rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
		</li>
		{% endif %}
		{% if page.next %}
		<li class="paging-item next">
			<a class="paging-link link-next" rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a>
		</li>
		{% endif %}
	</ul>
</nav>
