.wrapper {
	max-width: $wrapperWidth;
	padding: $spacing;
	margin: 0 auto;
	position: relative;
}

.aspect-video {
	width: 100%;
	height: 0;
	padding-bottom: 51%;
	position: relative;
}

.aspect-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.img-holder {
	text-align: center;
}

#disqus_thread {
	margin-top: $spacing;
}

.centered {
	text-align: center;
}

.visually-hidden {
	visibility: hidden;
	position: absolute;
}