---
layout: list
title: Speaking appearances
---

{% set years = [] %}
{% set firstTime = true %}
{%- for year in talks %}
<h2 class="list-year">{{year.year}}</h2>

<ul class="article-list">
  {%- for conference in year.conferences -%}
  <!-- end print years -->

  <li class="article-list-item">
    <span class="meta-highlight">
      {{ conference.date | prettyDate }} | 
      {{ conference.country}}, {{ conference.city }}
    </span>
    {%if conference.url %}
    <a class="article-list-link" href="{{conference.url}}">
    {% else %}
    <span  class="article-list-link" >
    {% endif %}
    {{ conference.title }}
    {%if conference.url %}
    </a>
    {% else %}
    </span>
    {% endif %}
  </li>
  {% endfor %}

</ul>
{% endfor %}

