.label {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  display: block;
  padding-bottom: 6px; }

.label--progressbar {
  float: right;
  margin-bottom: -10px;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  line-height: 1rem;
  color: #191919; }

.progressbar {
  position: relative;
  background-image: none;
  border: none;
  outline: none;
  width: 100%;
  height: 4px;
  border: none;
  background-color: #aeebf0;
  color: #4fd5e0; }

.progressbar::-ms-fill {
  border: none; }

.progressbar[value]::-webkit-progress-bar {
  background-color: #aeebf0; }

.progressbar[value]::-webkit-progress-value {
  background-color: #4fd5e0; }

.progressbar[value]::-moz-progress-bar {
  background-color: #4fd5e0; }

.theme--blue .progressbar {
  background-color: #b4e5f9;
  color: #2ab6f4; }

.theme--blue .progressbar[value]::-webkit-progress-bar {
  background-color: #b4e5f9; }

.theme--blue .progressbar[value]::-webkit-progress-value {
  background-color: #2ab6f4; }

.theme--blue .progressbar[value]::-moz-progress-bar {
  background-color: #2ab6f4; }

.theme--purple .progressbar {
  background-color: #debbf3;
  color: #a972cc; }

.theme--purple .progressbar[value]::-webkit-progress-bar {
  background-color: #debbf3; }

.theme--purple .progressbar[value]::-webkit-progress-value {
  background-color: #a972cc; }

.theme--purple .progressbar[value]::-moz-progress-bar {
  background-color: #a972cc; }

.theme--royalblue .progressbar {
  background-color: #b9c5ff;
  color: #748cff; }

.theme--royalblue .progressbar[value]::-webkit-progress-bar {
  background-color: #b9c5ff; }

.theme--royalblue .progressbar[value]::-webkit-progress-value {
  background-color: #748cff; }

.theme--royalblue .progressbar[value]::-moz-progress-bar {
  background-color: #748cff; }

.theme--green .progressbar {
  background-color: #d2efbe;
  color: #9cd575; }

.theme--green .progressbar[value]::-webkit-progress-bar {
  background-color: #d2efbe; }

.theme--green .progressbar[value]::-webkit-progress-value {
  background-color: #9cd575; }

.theme--green .progressbar[value]::-moz-progress-bar {
  background-color: #9cd575; }
