---
layout: cinema.njk
pagination:
  data: cinema
  size: 1
  alias: movie
permalink: /cinema/{{ movie.title | replace("'", "") | slug }}/
menuActive: cinema
eleventyComputed:
  title: Watching {{ movie.title }}
---
