* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Fira Sans", $systemfonts;
  color: $text;
  margin: 0;
}

@media (min-width: 40em) {
  html {
    font-size: 18px;
  }
}

a,
a:visited {
  color: $color;
  color: var(--main-color, $color);
  text-decoration: none;
}

a:focus,
a:hover {
  color: lighten($color, 10);
  color: var(--highlight-color, lighten($color, 10));
}

h1 {
  font-size: 1.7rem;
}

h1,
h2,
h3,
b,
strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.75em;
}

img {
  max-width: 100%;
}

code {
  font-family: 'Monaco', monospace;
  font-size: 0.8rem;
}

ol {
  padding-left: 1.4rem;
}

ol li {
  padding-left: 0.5rem;
}

ul {
  padding-left: 1.1rem;
}

figure {
  margin: 1rem 0 1rem -1rem;
  width: calc(100% + 2rem);
}

figcaption {
  margin-left: 1rem;
  margin-right: 1rem;
  font-style: italic;
}

@media (min-width: 800px) {

  figure {
    margin: 2rem 0 2rem -2rem;
    width: calc(100% + 4rem);
  }

  figcaption {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
