* {
  box-sizing: border-box;
  margin: 0;
}

*:after,
*:before {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  color: $not-black;
  font-size: 1rem;
  font-family: 'Fira Sans';
  font-weight: 300;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: $deep-blue;
}

a:hover,
a:focus {
  color: lighten($deep-blue, 10);
}

@media(min-width: 30em) {
  body {
    font-size: 1.25rem;
  }
}
