p,
ul,
ol {
  margin-bottom: 1em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin-bottom: 0.5em;
}

ul,
ol {
  padding-left: 1em;
}

.highlight {
  margin-left: -5rem;
  margin-right: -5rem;
  color: white;
  background-color: $not-black;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
  overflow: scroll;
}
