p,
ul,
ol {
  margin-bottom: 1em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin-bottom: 0.5em;
}

ul,
ol {
  padding-left: 1em;
}

code {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
